VideoRentalManagementWebServicesClient/src/main/resources/wsdl/external/VideoRentalManagementServices_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://vo.vrms.c4networks.com/" xmlns:tns="http://vo.vrms.c4networks.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://webservices.vrms.c4networks.com/">

  <xs:import namespace="http://webservices.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema1.xsd"/>

  <xs:complexType name="RentalDetails">
    <xs:sequence>
      <xs:element name="actualReturnDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="agentCode" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="charges" type="xs:int" minOccurs="0"/>
      <xs:element name="comments" type="xs:string" minOccurs="0"/>
      <xs:element name="companyCode" type="xs:string" minOccurs="0"/>
      <xs:element name="companyDetails" type="tns:CompanyDetail" minOccurs="0"/>
      <xs:element name="customerDetails" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="effectiveCharges" type="xs:int" minOccurs="0"/>
      <xs:element name="expectedReturnDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lateCharges" type="xs:int" minOccurs="0"/>
      <xs:element name="movieDetails" type="tns:MovieDetails" minOccurs="0"/>
      <xs:element name="rentalDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="rentalId" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element name="aadhaar" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="companyDetails" type="tns:CompanyDetail" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile2" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="picture" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="roleId" type="tns:RoleDetail" minOccurs="0"/>
      <xs:element name="sex" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="zipcode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompanyDetail">
    <xs:sequence>
      <xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="city" type="xs:string" minOccurs="0"/>
      <xs:element name="companyDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="companyId" type="xs:string" minOccurs="0"/>
      <xs:element name="companyImage" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="companyLogo" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="companyName" type="xs:string" minOccurs="0"/>
      <xs:element name="country" type="xs:string" minOccurs="0"/>
      <xs:element name="createdBy" type="xs:string" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="xs:string" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="registeredNum" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="zipcode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RoleDetail">
    <xs:sequence>
      <xs:element name="accessPage" type="xs:string" minOccurs="0"/>
      <xs:element name="roleDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="roleId" type="xs:string" minOccurs="0"/>
      <xs:element name="roleName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerDetails">
    <xs:sequence>
      <xs:element name="aadhaar" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
      <xs:element name="addressLine3" type="xs:string" minOccurs="0"/>
      <xs:element name="agentCode" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="companyDetails" type="tns:CompanyDetail" minOccurs="0"/>
      <xs:element name="companyId" type="xs:string" minOccurs="0"/>
      <xs:element name="createdBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="customerId" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="picture" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="sex" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MovieDetails">
    <xs:sequence>
      <xs:element name="agentCode" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="availableCopies" type="xs:int" minOccurs="0"/>
      <xs:element name="categories" type="tns:Categories" minOccurs="0"/>
      <xs:element name="companyDetails" type="tns:CompanyDetail" minOccurs="0"/>
      <xs:element name="createdBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="movieDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="movieId" type="xs:string" minOccurs="0"/>
      <xs:element name="movieName" type="xs:string" minOccurs="0"/>
      <xs:element name="picture" type="xs:base64Binary" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="totalCopies" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element name="activePrice" type="xs:int" minOccurs="0"/>
      <xs:element name="agentCode" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="bonus" type="xs:int" minOccurs="0"/>
      <xs:element name="categoryDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="categoryId" type="xs:string" minOccurs="0"/>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
      <xs:element name="companyDetails" type="tns:CompanyDetail" minOccurs="0"/>
      <xs:element name="createdBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="initialPrice" type="xs:int" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="tns:UserDetails" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RentalFinalData">
    <xs:sequence>
      <xs:element name="actualPrice" type="xs:int" minOccurs="0"/>
      <xs:element name="billedAmount" type="xs:int" minOccurs="0"/>
      <xs:element name="comments" type="xs:string" minOccurs="0"/>
      <xs:element name="customerId" type="xs:string" minOccurs="0"/>
      <xs:element name="customerName" type="xs:string" minOccurs="0"/>
      <xs:element name="lateCharges" type="xs:int" minOccurs="0"/>
      <xs:element name="movieName" type="xs:string" minOccurs="0"/>
      <xs:element name="rentalId" type="xs:string" minOccurs="0"/>
      <xs:element name="totalPrice" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

