VideoRentalManagementWebServicesClient/src/main/resources/wsdl/external/VideoRentalManagementServices_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webservices.vrms.c4networks.com/" xmlns:tns="http://webservices.vrms.c4networks.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://vo.vrms.c4networks.com/">

  <xs:import namespace="http://vo.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema2.xsd"/>

  <xs:element name="AgentCustomerDetails" type="ns1:AgentCustomerDetails"/>

  <xs:element name="Categories" type="ns1:Categories"/>

  <xs:element name="CompanyDetail" type="ns1:CompanyDetail"/>

  <xs:element name="MovieDetails" type="ns1:MovieDetails"/>

  <xs:element name="RentalDetails" type="ns1:RentalDetails"/>

  <xs:element name="RentalFinalData" type="ns1:RentalFinalData"/>

  <xs:element name="RoleDetail" type="ns1:RoleDetail"/>

  <xs:element name="UserDetails" type="ns1:UserDetails"/>

  <xs:element name="addCategory" type="tns:addCategory"/>

  <xs:element name="addCategoryResponse" type="tns:addCategoryResponse"/>

  <xs:element name="addCustomerForUser" type="tns:addCustomerForUser"/>

  <xs:element name="addCustomerForUserResponse" type="tns:addCustomerForUserResponse"/>

  <xs:element name="addMovies" type="tns:addMovies"/>

  <xs:element name="addMoviesResponse" type="tns:addMoviesResponse"/>

  <xs:element name="addRental" type="tns:addRental"/>

  <xs:element name="addRentalResponse" type="tns:addRentalResponse"/>

  <xs:element name="closeRental" type="tns:closeRental"/>

  <xs:element name="closeRentalResponse" type="tns:closeRentalResponse"/>

  <xs:element name="deleteCategory" type="tns:deleteCategory"/>

  <xs:element name="deleteCategoryResponse" type="tns:deleteCategoryResponse"/>

  <xs:element name="getAvailableMovieCopies" type="tns:getAvailableMovieCopies"/>

  <xs:element name="getAvailableMovieCopiesResponse" type="tns:getAvailableMovieCopiesResponse"/>

  <xs:element name="getCategoriesDetailsById" type="tns:getCategoriesDetailsById"/>

  <xs:element name="getCategoriesDetailsByIdResponse" type="tns:getCategoriesDetailsByIdResponse"/>

  <xs:element name="getCustomerDetailsById" type="tns:getCustomerDetailsById"/>

  <xs:element name="getCustomerDetailsByIdResponse" type="tns:getCustomerDetailsByIdResponse"/>

  <xs:element name="getCustomersListForUser" type="tns:getCustomersListForUser"/>

  <xs:element name="getCustomersListForUserResponse" type="tns:getCustomersListForUserResponse"/>

  <xs:element name="getRentalsByCustomerId" type="tns:getRentalsByCustomerId"/>

  <xs:element name="getRentalsByCustomerIdResponse" type="tns:getRentalsByCustomerIdResponse"/>

  <xs:element name="getUserDetailsById" type="tns:getUserDetailsById"/>

  <xs:element name="getUserDetailsByIdResponse" type="tns:getUserDetailsByIdResponse"/>

  <xs:element name="rentalFinalize" type="tns:rentalFinalize"/>

  <xs:element name="rentalFinalizeResponse" type="tns:rentalFinalizeResponse"/>

  <xs:element name="viewActiveRentalsForAgent" type="tns:viewActiveRentalsForAgent"/>

  <xs:element name="viewActiveRentalsForAgentResponse" type="tns:viewActiveRentalsForAgentResponse"/>

  <xs:element name="viewAllMovieCategoriesForUser" type="tns:viewAllMovieCategoriesForUser"/>

  <xs:element name="viewAllMovieCategoriesForUserResponse" type="tns:viewAllMovieCategoriesForUserResponse"/>

  <xs:element name="viewAllMoviesForUser" type="tns:viewAllMoviesForUser"/>

  <xs:element name="viewAllMoviesForUserResponse" type="tns:viewAllMoviesForUserResponse"/>

  <xs:element name="viewAllRentalsForAgent" type="tns:viewAllRentalsForAgent"/>

  <xs:element name="viewAllRentalsForAgentResponse" type="tns:viewAllRentalsForAgentResponse"/>

  <xs:element name="viewBonusByCustomerById" type="tns:viewBonusByCustomerById"/>

  <xs:element name="viewBonusByCustomerByIdResponse" type="tns:viewBonusByCustomerByIdResponse"/>

  <xs:element name="viewInactiveRentalsForAgent" type="tns:viewInactiveRentalsForAgent"/>

  <xs:element name="viewInactiveRentalsForAgentResponse" type="tns:viewInactiveRentalsForAgentResponse"/>

  <xs:element name="viewRentalHistoryByCustomerId" type="tns:viewRentalHistoryByCustomerId"/>

  <xs:element name="viewRentalHistoryByCustomerIdResponse" type="tns:viewRentalHistoryByCustomerIdResponse"/>









  <xs:complexType name="addRental">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:RentalDetails" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="ns1:UserDetails" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
      <xs:element name="arg4" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRentalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategoriesDetailsById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategoriesDetailsByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:Categories" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewRentalHistoryByCustomerId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewRentalHistoryByCustomerIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewInactiveRentalsForAgent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewInactiveRentalsForAgentResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllMoviesForUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllMoviesForUserResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:MovieDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetailsById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserDetailsByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:UserDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerDetailsById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerDetailsByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:AgentCustomerDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addMovies">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:MovieDetails" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="ns1:UserDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addMoviesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCategory">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:Categories" minOccurs="0"/>
      <xs:element name="arg1" type="ns1:UserDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCategory">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:Categories" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteCategoryResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllMovieCategoriesForUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllMovieCategoriesForUserResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:Categories" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomerForUser">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:AgentCustomerDetails" minOccurs="0"/>
      <xs:element name="arg1" type="ns1:UserDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomerForUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRentalsByCustomerId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRentalsByCustomerIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rentalFinalize">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rentalFinalizeResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalFinalData" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomersListForUser">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomersListForUserResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:AgentCustomerDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllRentalsForAgent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllRentalsForAgentResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailableMovieCopies">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAvailableMovieCopiesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewBonusByCustomerById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewBonusByCustomerByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewActiveRentalsForAgent">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewActiveRentalsForAgentResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="closeRental">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:RentalFinalData" minOccurs="0"/>
      <xs:element name="arg1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="closeRentalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

