VideoRentalManagementWebServicesClient/src/main/resources/wsdl/external/VideoRentalManagementServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. -->
<definitions targetNamespace="http://webservices.vrms.c4networks.com/" name="VideoRentalManagementServices" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://webservices.vrms.c4networks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservices.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://vo.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCustomerDetailsById">
    <part name="parameters" element="tns:getCustomerDetailsById"/>
  </message>
  <message name="getCustomerDetailsByIdResponse">
    <part name="parameters" element="tns:getCustomerDetailsByIdResponse"/>
  </message>
  <message name="viewAllCategories">
    <part name="parameters" element="tns:viewAllCategories"/>
  </message>
  <message name="viewAllCategoriesResponse">
    <part name="parameters" element="tns:viewAllCategoriesResponse"/>
  </message>
  <message name="getCategoriesDetailsById">
    <part name="parameters" element="tns:getCategoriesDetailsById"/>
  </message>
  <message name="getCategoriesDetailsByIdResponse">
    <part name="parameters" element="tns:getCategoriesDetailsByIdResponse"/>
  </message>
  <message name="viewBonusByCustomerById">
    <part name="parameters" element="tns:viewBonusByCustomerById"/>
  </message>
  <message name="viewBonusByCustomerByIdResponse">
    <part name="parameters" element="tns:viewBonusByCustomerByIdResponse"/>
  </message>
  <message name="getRentalsByCustomerId">
    <part name="parameters" element="tns:getRentalsByCustomerId"/>
  </message>
  <message name="getRentalsByCustomerIdResponse">
    <part name="parameters" element="tns:getRentalsByCustomerIdResponse"/>
  </message>
  <message name="viewRentalHistoryByCustomerId">
    <part name="parameters" element="tns:viewRentalHistoryByCustomerId"/>
  </message>
  <message name="viewRentalHistoryByCustomerIdResponse">
    <part name="parameters" element="tns:viewRentalHistoryByCustomerIdResponse"/>
  </message>
  <message name="viewActiveRentals">
    <part name="parameters" element="tns:viewActiveRentals"/>
  </message>
  <message name="viewActiveRentalsResponse">
    <part name="parameters" element="tns:viewActiveRentalsResponse"/>
  </message>
  <message name="viewAllRentals">
    <part name="parameters" element="tns:viewAllRentals"/>
  </message>
  <message name="viewAllRentalsResponse">
    <part name="parameters" element="tns:viewAllRentalsResponse"/>
  </message>
  <message name="closeRental">
    <part name="parameters" element="tns:closeRental"/>
  </message>
  <message name="closeRentalResponse">
    <part name="parameters" element="tns:closeRentalResponse"/>
  </message>
  <message name="addRental">
    <part name="parameters" element="tns:addRental"/>
  </message>
  <message name="addRentalResponse">
    <part name="parameters" element="tns:addRentalResponse"/>
  </message>
  <message name="rentalFinalize">
    <part name="parameters" element="tns:rentalFinalize"/>
  </message>
  <message name="rentalFinalizeResponse">
    <part name="parameters" element="tns:rentalFinalizeResponse"/>
  </message>
  <message name="getAllCustomers">
    <part name="parameters" element="tns:getAllCustomers"/>
  </message>
  <message name="getAllCustomersResponse">
    <part name="parameters" element="tns:getAllCustomersResponse"/>
  </message>
  <message name="addCustomer">
    <part name="parameters" element="tns:addCustomer"/>
  </message>
  <message name="addCustomerResponse">
    <part name="parameters" element="tns:addCustomerResponse"/>
  </message>
  <message name="viewAllMovies">
    <part name="parameters" element="tns:viewAllMovies"/>
  </message>
  <message name="viewAllMoviesResponse">
    <part name="parameters" element="tns:viewAllMoviesResponse"/>
  </message>
  <message name="addMovies">
    <part name="parameters" element="tns:addMovies"/>
  </message>
  <message name="addMoviesResponse">
    <part name="parameters" element="tns:addMoviesResponse"/>
  </message>
  <portType name="VideoRentalManagementServicesManager">
    <operation name="getCustomerDetailsById">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getCustomerDetailsByIdRequest" message="tns:getCustomerDetailsById"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getCustomerDetailsByIdResponse" message="tns:getCustomerDetailsByIdResponse"/>
    </operation>
    <operation name="viewAllCategories">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllCategoriesRequest" message="tns:viewAllCategories"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllCategoriesResponse" message="tns:viewAllCategoriesResponse"/>
    </operation>
    <operation name="getCategoriesDetailsById">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getCategoriesDetailsByIdRequest" message="tns:getCategoriesDetailsById"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getCategoriesDetailsByIdResponse" message="tns:getCategoriesDetailsByIdResponse"/>
    </operation>
    <operation name="viewBonusByCustomerById">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewBonusByCustomerByIdRequest" message="tns:viewBonusByCustomerById"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewBonusByCustomerByIdResponse" message="tns:viewBonusByCustomerByIdResponse"/>
    </operation>
    <operation name="getRentalsByCustomerId">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getRentalsByCustomerIdRequest" message="tns:getRentalsByCustomerId"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getRentalsByCustomerIdResponse" message="tns:getRentalsByCustomerIdResponse"/>
    </operation>
    <operation name="viewRentalHistoryByCustomerId">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewRentalHistoryByCustomerIdRequest" message="tns:viewRentalHistoryByCustomerId"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewRentalHistoryByCustomerIdResponse" message="tns:viewRentalHistoryByCustomerIdResponse"/>
    </operation>
    <operation name="viewActiveRentals">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewActiveRentalsRequest" message="tns:viewActiveRentals"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewActiveRentalsResponse" message="tns:viewActiveRentalsResponse"/>
    </operation>
    <operation name="viewAllRentals">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllRentalsRequest" message="tns:viewAllRentals"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllRentalsResponse" message="tns:viewAllRentalsResponse"/>
    </operation>
    <operation name="closeRental">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/closeRentalRequest" message="tns:closeRental"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/closeRentalResponse" message="tns:closeRentalResponse"/>
    </operation>
    <operation name="addRental">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addRentalRequest" message="tns:addRental"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addRentalResponse" message="tns:addRentalResponse"/>
    </operation>
    <operation name="rentalFinalize">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/rentalFinalizeRequest" message="tns:rentalFinalize"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/rentalFinalizeResponse" message="tns:rentalFinalizeResponse"/>
    </operation>
    <operation name="getAllCustomers">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getAllCustomersRequest" message="tns:getAllCustomers"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
    </operation>
    <operation name="addCustomer">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addCustomerRequest" message="tns:addCustomer"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addCustomerResponse" message="tns:addCustomerResponse"/>
    </operation>
    <operation name="viewAllMovies">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllMoviesRequest" message="tns:viewAllMovies"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/viewAllMoviesResponse" message="tns:viewAllMoviesResponse"/>
    </operation>
    <operation name="addMovies">
      <input wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addMoviesRequest" message="tns:addMovies"/>
      <output wsam:Action="http://webservices.vrms.c4networks.com/VideoRentalManagementServicesManager/addMoviesResponse" message="tns:addMoviesResponse"/>
    </operation>
  </portType>
  <binding name="VideoRentalManagementServicesPortBinding" type="tns:VideoRentalManagementServicesManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCustomerDetailsById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewAllCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCategoriesDetailsById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewBonusByCustomerById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRentalsByCustomerId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewRentalHistoryByCustomerId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewActiveRentals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewAllRentals">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="closeRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addRental">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="rentalFinalize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllCustomers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCustomer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewAllMovies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addMovies">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="VideoRentalManagementServices">
    <port name="VideoRentalManagementServicesPort" binding="tns:VideoRentalManagementServicesPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

