VideoRentalManagementWebServicesClient/src/main/resources/wsdl/external/VideoRentalManagementServices_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://vo.vrms.c4networks.com/" xmlns:tns="http://vo.vrms.c4networks.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://webservices.vrms.c4networks.com/">

  <xs:import namespace="http://webservices.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema1.xsd"/>

  <xs:complexType name="RentalDetails">
    <xs:sequence>
      <xs:element name="actualReturnDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="amount" type="xs:int" minOccurs="0"/>
      <xs:element name="bonusPoints" type="xs:int" minOccurs="0"/>
      <xs:element name="bonusStatus" type="xs:string" minOccurs="0"/>
      <xs:element name="comments" type="xs:string" minOccurs="0"/>
      <xs:element name="customerDetails" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="expectedReturnDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lateCharges" type="xs:int" minOccurs="0"/>
      <xs:element name="movies" type="tns:Movies" minOccurs="0"/>
      <xs:element name="rentalDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="rentalDetailsId" type="xs:int" minOccurs="0"/>
      <xs:element name="rentalId" type="xs:string" minOccurs="0"/>
      <xs:element name="rentalStatus" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerDetails">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="createdBy" type="xs:int" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="customerId" type="xs:int" minOccurs="0"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="firstName" type="xs:string" minOccurs="0"/>
      <xs:element name="lastModifiedBy" type="xs:int" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="vrmsId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Movies">
    <xs:sequence>
      <xs:element name="categories" type="tns:Categories" minOccurs="0"/>
      <xs:element name="copies" type="xs:int" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="customerDetailsByCreatedBy" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="customerDetailsByLastModifiedBy" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="movieDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="movieId" type="xs:int" minOccurs="0"/>
      <xs:element name="movieName" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element name="categoryDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="categoryId" type="xs:int" minOccurs="0"/>
      <xs:element name="categoryName" type="xs:string" minOccurs="0"/>
      <xs:element name="createdDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="customerDetailsByCreatedBy" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="customerDetailsByLastModifiedBy" type="tns:CustomerDetails" minOccurs="0"/>
      <xs:element name="lastModifiedDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="price" type="xs:int" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

