VideoRentalManagementWebServicesClient/src/main/resources/wsdl/external/VideoRentalManagementServices_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://webservices.vrms.c4networks.com/" xmlns:tns="http://webservices.vrms.c4networks.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://vo.vrms.c4networks.com/">

  <xs:import namespace="http://vo.vrms.c4networks.com/" schemaLocation="VideoRentalManagementServices_schema2.xsd"/>

  <xs:element name="Categories" type="ns1:Categories"/>

  <xs:element name="CustomerDetails" type="ns1:CustomerDetails"/>

  <xs:element name="Movies" type="ns1:Movies"/>

  <xs:element name="RentalDetails" type="ns1:RentalDetails"/>

  <xs:element name="addCustomer" type="tns:addCustomer"/>

  <xs:element name="addCustomerResponse" type="tns:addCustomerResponse"/>

  <xs:element name="addMovies" type="tns:addMovies"/>

  <xs:element name="addMoviesResponse" type="tns:addMoviesResponse"/>

  <xs:element name="addRental" type="tns:addRental"/>

  <xs:element name="addRentalResponse" type="tns:addRentalResponse"/>

  <xs:element name="closeRental" type="tns:closeRental"/>

  <xs:element name="closeRentalResponse" type="tns:closeRentalResponse"/>

  <xs:element name="getAllCustomers" type="tns:getAllCustomers"/>

  <xs:element name="getAllCustomersResponse" type="tns:getAllCustomersResponse"/>

  <xs:element name="getCategoriesDetailsById" type="tns:getCategoriesDetailsById"/>

  <xs:element name="getCategoriesDetailsByIdResponse" type="tns:getCategoriesDetailsByIdResponse"/>

  <xs:element name="getCustomerDetailsById" type="tns:getCustomerDetailsById"/>

  <xs:element name="getCustomerDetailsByIdResponse" type="tns:getCustomerDetailsByIdResponse"/>

  <xs:element name="getRentalsByCustomerId" type="tns:getRentalsByCustomerId"/>

  <xs:element name="getRentalsByCustomerIdResponse" type="tns:getRentalsByCustomerIdResponse"/>

  <xs:element name="rentalFinalize" type="tns:rentalFinalize"/>

  <xs:element name="rentalFinalizeResponse" type="tns:rentalFinalizeResponse"/>

  <xs:element name="viewActiveRentals" type="tns:viewActiveRentals"/>

  <xs:element name="viewActiveRentalsResponse" type="tns:viewActiveRentalsResponse"/>

  <xs:element name="viewAllCategories" type="tns:viewAllCategories"/>

  <xs:element name="viewAllCategoriesResponse" type="tns:viewAllCategoriesResponse"/>

  <xs:element name="viewAllMovies" type="tns:viewAllMovies"/>

  <xs:element name="viewAllMoviesResponse" type="tns:viewAllMoviesResponse"/>

  <xs:element name="viewAllRentals" type="tns:viewAllRentals"/>

  <xs:element name="viewAllRentalsResponse" type="tns:viewAllRentalsResponse"/>

  <xs:element name="viewBonusByCustomerById" type="tns:viewBonusByCustomerById"/>

  <xs:element name="viewBonusByCustomerByIdResponse" type="tns:viewBonusByCustomerByIdResponse"/>

  <xs:element name="viewRentalHistoryByCustomerId" type="tns:viewRentalHistoryByCustomerId"/>

  <xs:element name="viewRentalHistoryByCustomerIdResponse" type="tns:viewRentalHistoryByCustomerIdResponse"/>





  <xs:complexType name="addRental">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:RentalDetails" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int" minOccurs="0"/>
      <xs:element name="arg2" type="xs:int" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addRentalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="viewAllMoviesResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:Movies" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategoriesDetailsById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCategoriesDetailsByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:Categories" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewRentalHistoryByCustomerId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewRentalHistoryByCustomerIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewActiveRentals">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="viewActiveRentalsResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerDetailsById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCustomerDetailsByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CustomerDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addMovies">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:Movies" minOccurs="0"/>
      <xs:element name="arg1" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addMoviesResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllCategories">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="viewAllCategoriesResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:Categories" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewAllRentals">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="viewAllRentalsResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRentalsByCustomerId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRentalsByCustomerIdResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:RentalDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getAllCustomers">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAllCustomersResponse">
    <xs:sequence>
      <xs:element name="return" type="ns1:CustomerDetails" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomer">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:CustomerDetails" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addCustomerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rentalFinalize">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rentalFinalizeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewBonusByCustomerById">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="viewBonusByCustomerByIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="closeRental">
    <xs:sequence>
      <xs:element name="arg0" type="ns1:RentalDetails" minOccurs="0"/>
      <xs:element name="arg1" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="closeRentalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

